/* Asterix wildcard selector to override default styles * /
*  {
    padding: 0;
    margin: 0;
    box-sizing:border-box
}

/* General sytles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

/* Header */
header  {
    background-color: #5f376d;
    color: ffffff;
}

/* main content */
main {
    background-color: #aec1b5;
    flex: 1 0 auto
}

/* footer */
footer {
    background-color: #5f376d;
}