/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

/* Asterix wildcard selector to override default styles * /
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    padding-top: 76px;
}

/* Header */
header {
    background-color: #5f376d;
    top: 0;
    padding: 0 1rem;
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: 0 2px 2px #ffffff;
}

header a {
    text-decoration: none;
    color: #ffffff;
}
h1 {
    font-family: 'Montserrat' sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid #ffffff;
}

/* Nav styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #5f376d;
}
/* main content */
main {
    background-color: #aec1b5;
    flex: 1 0 auto;
    margin-top: 79px;
}

/* footer */
footer {
    background-color: #5f376d;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 180%;
    padding: 5%;
    color: #ffffff;
}

/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    /* Menu */
    #menu {
    display:flex;
    }

    #menu > li {
        padding-left: 5rem;
    }
    #logo {
        font-size: 288%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    main {
        margin-top: 79px;
    }
}

/* Large devices (tablets and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #ffffff;
    }
}